body{
    display: flex; /*initialize flexible box*/
    justify-content: center; /*center everything left to right*/
    align-items: center; /* center everything top the bottom*/
    height: 100vh; /*setting viewport 100*/
    background: rgb(94, 8, 152);
}

.calculator{
    background-color: rgb(41, 40, 37);
    padding: 20px;
    border-radius: 10px;
}

.screen{
    width:224px;
    background-color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: end;
    padding: 6px;
    color: #000000;
    border-radius: 10px;
    font-family: Helvetica, sans-serif;
}

.buttons{
    width: 232px;
    display: flex;
    flex-wrap: wrap;
}

button{
    background-color: rgb(131,129,129);
    border:none;
    color:rgb(255,255,255);
    font-size: 40px;
    width:50px;
    height:50px;
    border-radius: 25px;
    margin:4px;
}

button:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}

button:active{
    background-color: rgb(137, 137, 137);
}

#equals{
    background-color: rgb(218,2,2);
}

#equals:hover{
    background-color: rgb(198,1,1);
}

#equals:active{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    border: 2px solid rgb(255, 0, 0);
}

#clear{
    width: 100%;
    background-color: rgb(252,226,27);
    font-size: 30px;
    color: black;
}

#clear:hover{
    background-color: rgb(201, 160, 0);
}

#clear:active{
    background-color: rgb(124, 108, 36);
    color: white;
}